body{
	color: #40514E;
	margin: 0;
	text-align: center;
    font-family: 'Sacramento', sans-serif;
}

h1{
	margin:0px ;
	font-size: 5.625rem;
	font-family: 'Sacramento', cursive;
	color: #66BFBF;
}

h2{
	font-family: cursive;
	color: #66BFBF;
	font-size: 2.5rem;
	font-weight: normal;
	padding-bottom: 0px;
}

h3{
	font-family: sans-serif;
	color: #11999E;
}

p{
	font-family:arial;
	text-align: left;
	line-height:2;
}


.top-con{
	background-color: #E4F9F5;

}


.mid-con{
	margin-top:10px;
	margin-bottom: 50px
	
}


.bottom-con{
	background-color: #66BFBF;
	padding: 50px 0 20px
	
}


.top-cld{
	margin-left: 800px;
}

.mid-cld{
	margin-right: 500px;
}

.bootom-cld{
	margin-right: 200px;
}
.skill-row{
	width: 50%;
	margin: 50px auto 100px auto;
	text-align: left;

}
.code{
	width: 25%;
	float: left;
	margin-right:30px;
	margin-top: -15px;
}

.gin{
	width: 25%;
	float: right;
	margin-right:30px;
	margin-top: -15px;
}

hr{
	border-style: none;
	border-top-style: dotted;
	border-color: grey;
	border-width: 5px;
	width: 3%;
}
a{
	color: #11999E;
	font-family: font-family: 'Sacramento', cursive;
	margin: 10px 20px;
}

a:hover{
	color: #eaf6f6;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.footer-link{
	font-family: sans-serif;
	color: blue;
	text-decoration: none;

}
.copyright{
	color: #eaf6f6;
	font-size: 0.75rem;
}